{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(articleForm.articleForm) }}
        <button type="submit">{{ articleForm.labelSubmit }}</button>
    {{ form_end(articleForm.articleForm) }}
{% endblock %}